.check-list{
    padding-left : 2.1666666rem;
    padding-right :2.16666666rem;
    padding-top : 2.1666666rem;
    list-style-type: none;
    li {
        text-decoration: none;
        margin-bottom: 1.066666rem;
    }
    .MuiSvgIcon-root{
        fill : #00c391;
    }
}