.parametres {
    margin-top: 25px;

    textarea {
        margin-bottom: 15px;
    }
    .button-primary {
        margin-top: 10px;
    }
}
.parametres textarea {
    margin-bottom: 0px !important;
}