h3.offres-subtitle {
    text-align: center;
    color: #ff7d55;
}
.lead-img--container{
    max-width: 100%;
    padding: 20px;
    .lead-img{
      max-width: 100%;
    }
  
  }
  .price-list--title{
    margin-bottom: 10px;
    margin-top: 10px;
    span {
        font-weight: 600;
    }
}